{% extends "base.html" %}

{% block jumbotron %}

{% if not category %}
{% include "top-main.html" %}

{% else %}

  {% if category=="news" %}
    <h1 class="sitetitle">ニュース</h1>
  {% elif category=="jobboard" %}
    <h1 class="sitetitle">求人情報</h1>
  {% endif %}

  {% include "submission.html" %}

{% endif %}

{% endblock %}


{% block content %}

{% include 'articles.html' %}


{% endblock content %}



{% block rightbox %}
  
  {{ super() }}

  <div style="margin-left: 16px;">
  <iframe src="https://www.google.com/calendar/embed?showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=300&amp;wkst=1&amp;hl=ja&amp;bgcolor=%23FFFFFF&amp;src=kj670le78ju5alcbt1khect5ks%40group.calendar.google.com&amp;color=%235229A3&amp;ctz=Asia%2FTokyo" style="border: 0" width="100%" height="600" frameborder="0" scrolling="no">
    <a href="http://www.google.com/calendar/ical/kj670le78ju5alcbt1khect5ks%40group.calendar.google.com/public/basic.ics">
      Python Calendar Japan
    </a>
  </iframe>
  </div>

{% endblock %}


