
          <div class="card right-box">
            <div class="card-block">
              <div class="card-title">
                <h2>翻訳ドキュメント</h2>
              </div>
              
              <div class="ibox center">
                <a href="https://docs.python.jp/3/"
                    class="btn btn-primary btn-lg"> Python 3</a>
              </div>

              <div class="ibox center">
                <a href="https://docs.python.jp/2/"
                    class="btn btn-primary btn-lg"> Python 2</a>
              </div>

              <div class="card-title">
                <h2>ダウンロード</h2>
              </div>
              
              <div class="ibox center">
                <a href="https://www.python.org/downloads/release/python-362/"
                    class="btn btn-primary btn-lg"> Python 3.6.2</a><br>
                    <small>2017-07-17</small>
              </div>

              <div class="ibox center">
                <a href="https://www.python.org/downloads/release/python-2713/"
                    class="btn btn-primary btn-lg"> Python 2.7.13</a><br>
                    <small>2016-12-17</small>
              </div>
            </div>
          </div>



          <div class="card right-box">
            <div class="card-block">
              <div class="card-title">
                <h2>ドキュメント翻訳プロジェクト</h2>
              </div>

              <p>
                Pythonドキュメント翻訳するプロジェクトは、 現在、Python 3.6 のドキュメントに対応するために活動中です。
              </p>
              <div style="text-align:right">
                <a href="https://github.com/python-doc-ja/python-doc-ja" class="btn btn-primary btn-lg card-link">詳しく見る</a>
              </div>
            </div>
          </div>



        <div class="card right-box">
          <div class="card-block">
            <div class="card-title">
              <h2>Python.jp slackチャンネル</h2>
            </div>
            <p>
              情報交換・質問・雑談などにご利用ください。
            </p>
            <div style="text-align:right">
              <a href="/community/#python-jp-slack" class="btn btn-primary btn-lg card-link">詳しく見る</a>
            </div>

          </div>
        </div>



          
