
          <div class="card right-box">
            <div class="card-block">

              <p style="font-weight: bold">ダウンロード</p>

              <table width="100%">
                <tr>
                  <td align=center>
                <a href="https://www.python.org/downloads/release/python-361/"
                   class="btn btn-primary btn-lg"> Python 3.6.1</a><br>
                   <small>2017-03-21</small>


                  <td align=center>
                <a href="https://www.python.org/downloads/release/python-2713/"
                   class="btn btn-primary btn-lg"> Python 2.7.13</a><br>
                   <small>2016-12-17</small>
              </table>
            </div>
          </div>



          <div class="card right-box">
            <div class="card-block">

              <p style="font-weight: bold">ドキュメント翻訳プロジェクト</p>

              <p>
                Pythonドキュメント翻訳するプロジェクトは、 現在、Python 3.6 のドキュメントに対応するために活動中です。
              </p>
              <div style="text-align:right">
                <a href="https://github.com/python-doc-ja/python-doc-ja" class="btn btn-primary btn-lg card-link">詳しく見る</a>
              </div>
            </div>
          </div>



        <div class="card right-box">
          <div class="card-block">
            <p style="font-weight: bold">Python.jp slackチャンネル</p>

            <p>
              情報交換・質問・雑談などにご利用ください。
            </p>
            <div style="text-align:right">
              <a href="/community/#python-jp-slack" class="btn btn-primary btn-lg card-link">詳しく見る</a>
            </div>

          </div>
        </div>



          