      <h1 class="sitetitle display-6">プログラミング言語 Python</h1>
      <div class="row">

        <div class="col-md-4">
          <div class="acard">
            <div class="card-block">
              <h4 class="card-title"><a href='/about/'>Pythonとは</a></h4>
              <p class="card-text">プログラミング言語 Python の概要を紹介します</p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="acard">
            <div class="card-block">
              <h4 class="card-title"><a href='https://docs.python.jp/3/'>ドキュメント</a></h4>
              <p class="card-text">Pythonドキュメント翻訳プロジェクトによる和訳ドキュメント</p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="acard">
            <div class="card-block">
              <h4 class="card-title"><a href='/community'>コミュニティ</a></h4>
              <p class="card-text">日本のPythonコミュニティ</p>
            </div>
          </div>
        </div>

      </div>
