/*
        Name: Smashing HTML5
        Date: July 2009
        Description: Sample layout for HTML5 and CSS3 goodness.
        Version: 1.0
        License: MIT <http://opensource.org/licenses/MIT>
        Licensed by: Smashing Media GmbH <http://www.smashingmagazine.com/>
        Original author: Enrique Ramírez <http://enrique-ramirez.com/>
*/

/* Imports */
@import url("reset.css");
@import url("pygment.css");
@import url("typogrify.css");
@import url(//fonts.googleapis.com/css?family=Yanone+Kaffeesatz&subset=latin);

/***** Global *****/
/* Body */
body {
    background: #fff;
    color: #000305;
    font-size: 100%; /* Base font size: 14px */

    font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',Arial, sans-serif;

    margin: 0;
    padding: 0;
    text-align: left;
}

H1,H2,H3,H4,H5 {
/*  font-family: Georgia, "Bitstream Vera Serif", "New York", Palatino, serif; */
  font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',Arial, sans-serif;
  font-weight:normal;
  line-height: 1.5em;
}

H1
{
  font-size: 160%;
  color: #234764;
  text-decoration: none;
}

H1 A {
  color: #234764;
}

H2
{
  font-size: 140%;

  color: #366D9C;
  margin: 1.5em 0 0.0em 0;
}

H3
{
  font-size: 135%;
  font-style:italic;
  color: #366D9C;
  margin: 0.4em 0 0.0em 0;
}

H4
{
  font-size: 125%;
  color: #366D9C;
  margin: 0.4em 0 0.0em 0;
}

    
hr { border: 2px solid #EEEEEE; }





/* Anchors */
a {
    outline: 0;
    color: #551A8B;
}
a img {border: 0px; text-decoration: none;}
a:link, a:visited {
        color: #551A8B;
        padding: 0 1px;
        text-decoration: None;
        border-bottom:1px dashed #ccc;
}

a:hover, a:active {
/*      background-color: #C74350;
        color: #fff;
        text-decoration: none;
      text-shadow: 1px 1px 1px #333; */
}

h1 a:hover {
    background-color: inherit
}
    
strong, b {font-weight: bold;}
em, i {font-style: italic;}

/* Lists */
ul {
        list-style: outside disc;
        margin: 0em 0 0 1.5em;
}

ol {
        list-style: outside decimal;
        margin: 0em 0 0 1.5em;
}

li { margin-top: 0.5em;}

.post-info {
    margin:0px 10px 10px 0px;
    padding:5px;
    font-size:80%;
}

.post-info p{
    margin-top: 1px;
    margin-bottom: 1px;
}

.readmore { float: right }

dl {margin: 0 0 1.5em 0;}
dt {font-weight: bold;}
dd {margin-left: 1.5em;}

pre{background-color:  rgb(238, 238, 238); padding: 10px; margin: 10px; overflow: auto;}

/* Quotes */
blockquote {
    margin: 20px;
    font-style: italic;
}
cite {}

q {}

div.note {
   float: right;
   margin: 5px;
   font-size: 85%;
   max-width: 300px;
}

/* Tables */
table {margin: .5em auto 1.5em auto; width: 98%;}
    
        /* Thead */
        thead th {padding: .5em .4em; text-align: left;}
        thead td {}

        /* Tbody */
        tbody td {padding: .5em .5em;}
        tbody th {}
    
        tbody .alt td {}
        tbody .alt th {}
    
        /* Tfoot */
        tfoot th {}
        tfoot td {}
    
/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
        display: block;
}

/***** Layout *****/
.body {clear: both; margin: 0 auto; width: 800px;}
img.right, figure.right {float: right; margin: 0 0 2em 2em;}
img.left, figure.left {float: left; margin: 0 2em 2em 0;}

/*
        Header
*****************/
#banner {
        margin: 0 auto;
        padding: 0 0 0 0;
}

        /* Banner */
        #banner h1 {
            padding: 0 0 0 0;
            font-size: 3.571em; 
            background-image: url(../images/header-bg2.png);
            border-bottom: 1px solid #999999;
            height: 84px;
            margin-bottom:0.1em;
        }
        #banner h1 a:link, #banner h1 a:visited {
                color: #000305;
                display: block;
                font-weight: bold;
                text-decoration: none;
                border-bottom:none;
        }
        #banner h1 a:hover, #banner h1 a:active {
                background: none;
                color: #C74350;
                text-shadow: none;
        }
    
        #banner h1 strong {font-size: 0.36em; font-weight: normal;}
    
        /* Main Nav */
        #banner nav {
                background: #000305;
                font-size: 1.143em;
                height: 40px;
                line-height: 30px;
                margin: 0 auto 2em auto;
                padding: 0;
                text-align: center;
                width: 800px;
            
                border-radius: 5px;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
        }
    
        #banner nav ul {list-style: none; margin: 0 auto; width: 800px;}
        #banner nav li {float: left; display: inline; margin: 0;}
    
        #banner nav a:link, #banner nav a:visited {
                color: #fff;
                display: inline-block;
                height: 30px;
                padding: 5px 1.5em;
                text-decoration: none;
        }
        #banner nav a:hover, #banner nav a:active,
        #banner nav .active a:link, #banner nav .active a:visited {
                background: #C74451;
                color: #fff;
                text-shadow: none !important;
        }
    
        #banner nav li:first-child a {
                border-top-left-radius: 5px;
                -moz-border-radius-topleft: 5px;
                -webkit-border-top-left-radius: 5px;
            
                border-bottom-left-radius: 5px;
                -moz-border-radius-bottomleft: 5px;
                -webkit-border-bottom-left-radius: 5px;
        }


/* Utility Menu */
#utility-menu
{
  position: absolute;
  top: 0;
  right: 4%;
  height:85px;
  margin:0;
  padding:0;
  width:400px;
  z-index: 1;
  font-size: 88%;
  font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',Arial, sans-serif;
}

#utility-menu a
{
  text-decoration: none;
  padding: 0 0.5em 0 0.5em;
  color: #436A85;
}

#utility-menu a:hover
{
  text-decoration: underline;
}

#utility-menu #screen-switcher
{
 display:none; /* will anybody notice? */
 position:absolute;
 bottom:6px;
 right:0;
 margin:0;
 padding:0;
}

/* Search Box */
#searchbox {
  position: absolute;
  white-space: nowrap;
  top: 16px;
  right: 0;
  width: 28.1em;
  vertical-align: middle;
  font-weight: bold;
  text-align: right;
}
#searchbox form {
  display:inline;
}
#search
{
  color: #A38E60;
}

#search .input-text
{
  margin-top: 3px;
  border: 1px solid #C4CCCC;
  background-color: #FFFFFF;
  vertical-align: top;
  font-weight:normal;
  font-size: 116%;
  width: 11em;
}

#search .input-button
{
  color: #223344;
/*  font-family: Arial, Verdana, Geneva, "Bitstream Vera Sans", Helvetica, sans-serif;*/
  font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',Arial, sans-serif;
  font-weight: bold;
  font-size: 103%;
  border-top: 1px solid #C4CCCC;
  border-left: 1px solid #C4CCCC;
  border-bottom: 1px solid #6F7777;
  border-right: 1px solid #6F7777;
  background-color:  #F8F7F7;
  background-image: url(../images/button-on-bg.png);
  background-repeat: no-repeat;
  padding: 0px 0.2em 0px 0.2em;
  margin: 3px 0.4em 0px 0.4em;
  vertical-align: text-top;
}






/*
        Featured
*****************/
#featured {
        background: #fff;
        overflow: hidden;
        padding-bottom: 20px;
        width: 700px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
}

#featured figure {
        border: 2px solid #eee;
        float: right;
        margin: 0.786em 2em 0 5em;
        width: 248px;
}
#featured figure img {display: block; float: right;}

#featured h2 {color: #C74451; font-size: 1.714em; margin-bottom: 0.333em;}
#featured h3 {font-size: 1.429em; margin-bottom: .5em;}

#featured h3 a:link, #featured h3 a:visited {color: #000305; text-decoration: none;}
#featured h3 a:hover, #featured h3 a:active {color: #fff;}


/*
        Row
*****************/

#row {
    width: 1200px;
}

#row:after{
content : "";
display : block;
clear : both;
}

/*
        Menu
*****************/
#leftmenu {
        background: #fff;
        margin-left: 5px;
        margin-right: 1em;
        margin-bottom: 2em;
        padding: 10px 10px;
        width: 200px;
    
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;

        float: left;
}

/*
        Menu item
*****************/

#leftmenu ul {
    list-style: none;
    margin: 0;
}

.menuitem {
  border: 1px solid #DADADA;
  padding: 2px 2px 2px 4px;
  margin: 0 0 4px 0em;
  width: 200px !important;
  font-size: 75%;
  color: #4B5A6A;
  background-image: url(../images/nav-off-bg.png);
  background-position: top right;
  background-repeat: no-repeat;
  background-color:#F5F5F5;
}

.menuitem a {
  text-decoration: none;
  color: #4B5A6A;
  border: none;
}

.menuitem a:hover {
  text-decoration: underline;
}

/* links */

.menulink {
  font-size: 80%;
  font-weight: bold;
  color: #4C5B6B;
  padding: 0.4em 0 0 0em;
  margin: 0.2em 0 0em 0;
}

.menulink a {
  text-decoration: none;
  color: #4C5B6B;
}

.menulink a:hover {
  text-decoration: underline;
}

li[class='menulink'] {
  margin-left: 5px;
  margin-top: 0;

  padding-left: 16px;
  padding-top: 2px;

  background-image: url(../images/bullet.gif);
  background-repeat: no-repeat;
  background-position: 0 50%;
  font-weight: normal;
}


/*
        Body
*****************/
#content {
        background: #fff;
        margin-bottom: 2em;
        padding: 5px 0px;
        width: 700px;
    
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;

        float: left;

}


/*
        Right box
*****************/
#rightbox {
        background: #fff;
        margin-bottom: 2em;
        margin-top: 0px;
        margin-left: 2em;
        width: 200px;
        line-height: 1.2em;
        float: left;
}


.homepage-box
{
  font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',Arial, sans-serif;
  font-size:  70%;
  text-align: left;
  color: #3C4B6B;
  background-color: #FBFBF7;
  width: 200px;
  border: 1px solid #B7BECC;
  z-index: 999;
  padding-bottom: 10px;
  list-style:none;
  margin: 6px;
  -moz-border-radius-topleft: 12px;
  -moz-border-radius-bottomright: 12px;
  background-color: #F7F6F0;
}

.homepage-box h4
{
/*  font-family: Arial, Verdana, Geneva, "Bitstream Vera Sans", Helvetica, sans-serif;*/
  font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',Arial, sans-serif;
  font-size: 94%;
  font-weight: bold;
  padding: 3px 0 4px 12px;
  margin:0 0 0 0;
  text-align: left;
  z-index: 0;
  color:#FFFFFF;
  -moz-border-radius-topleft: 11px;
  background-color:#376A94;
  border-bottom:3px solid #FFBC29;
}

.homepage-box h4 a
{
  background: #4C83A3;
  padding: 0 2px;
  color: white!important;
  border: none!important;
}

.homepage-box h5
{
    margin-top: 8px;
    margin-left: 5px;
    font-weight: bold;
}


.homepage-box p
{
    margin:5px;
}


/*
        Extras
*****************/
#extras {margin: 0 auto 3em auto; overflow: hidden;}

#extras ul {list-style: none; margin: 0;}
#extras li {border-bottom: 1px solid #fff;}
#extras h2 {
        color: #C74350;
        font-size: 1.429em;
        margin-bottom: .25em;
        padding: 0 3px;
}

#extras a:link, #extras a:visited {
        color: #444;
        display: block;
        border-bottom: 1px solid #F4E3E3;
        text-decoration: none;
        padding: .3em .25em;
}

#extras a:hover, #extras a:active {color: #fff;}

        /* Blogroll */
        #extras .blogroll {
                float: left;
                width: 615px;
        }
    
        #extras .blogroll li {float: left; margin: 0 20px 0 0; width: 185px;}
    
        /* Social */
        #extras .social {
                float: right;
                width: 175px;
        }
    
        #extras div[class='social'] a {
                background-repeat: no-repeat;
                background-position: 3px 6px;
                padding-left: 25px;
        }
    
                /* Icons */
                .social a[href*='about.me'] {background-image: url('../images/icons/aboutme.png');}
                .social a[href*='bitbucket.org'] {background-image: url('../images/icons/bitbucket.png');}
                .social a[href*='delicious.com'] {background-image: url('../images/icons/delicious.png');}
                .social a[href*='digg.com'] {background-image: url('../images/icons/digg.png');}
                .social a[href*='facebook.com'] {background-image: url('../images/icons/facebook.png');}
                .social a[href*='gitorious.org'] {background-image: url('../images/icons/gitorious.png');}
                .social a[href*='github.com'],
                .social a[href*='git.io'] {background-image: url('../images/icons/github.png');}
                .social a[href*='gittip.com'] {background-image: url('../images/icons/gittip.png');}
                .social a[href*='plus.google.com'] {background-image: url('../images/icons/google-plus.png');}
                .social a[href*='groups.google.com'] {background-image: url('../images/icons/google-groups.png');}
                .social a[href*='news.ycombinator.com'],
                .social a[href*='hackernewsers.com'] {background-image: url('../images/icons/hackernews.png');}
                .social a[href*='last.fm'], .social a[href*='lastfm.'] {background-image: url('../images/icons/lastfm.png');}
                .social a[href*='linkedin.com'] {background-image: url('../images/icons/linkedin.png');}
                .social a[href*='reddit.com'] {background-image: url('../images/icons/reddit.png');}
                .social a[type$='atom+xml'], .social a[type$='rss+xml'] {background-image: url('../images/icons/rss.png');}
                .social a[href*='slideshare.net'] {background-image: url('../images/icons/slideshare.png');}
                .social a[href*='speakerdeck.com'] {background-image: url('../images/icons/speakerdeck.png');}
                .social a[href*='stackoverflow.com'] {background-image: url('../images/icons/stackoverflow.png');}
                .social a[href*='twitter.com'] {background-image: url('../images/icons/twitter.png');}
                .social a[href*='vimeo.com'] {background-image: url('../images/icons/vimeo.png');}
                .social a[href*='youtube.com'] {background-image: url('../images/icons/youtube.png');}

/*
        About
*****************/
#about {
        background: #fff;
        font-style: normal;
        margin-bottom: 2em;
        overflow: hidden;
        padding: 20px;
        text-align: left;
        width: 760px;
    
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
}

#about .primary {float: left; width: 165px;}
#about .primary strong {color: #C64350; display: block; font-size: 1.286em;}
#about .photo {float: left; margin: 5px 20px;}

#about .url:link, #about .url:visited {text-decoration: none;}

#about .bio {float: right; width: 500px;}

/*
        Footer
*****************/
#contentinfo {padding-bottom: 2em; text-align: right;}

/***** Sections *****/
/* Blog */
.hentry {
        display: block;
        clear: both;
        border-bottom: 1px solid #eee;
        padding: 1.5em 0;
}
li:last-child .hentry, #content > .hentry {border: 0; margin: 0;}
#content > .hentry {padding: 1em 0;}
.hentry img{display : none ;}
.entry-title {margin-bottom: 3px; margin-top: 0;}
.entry-title a:link, .entry-title a:visited {text-decoration: none; color: #D58228;}
.entry-title a:visited {background-color: #fff;}

.hentry .post-info * {font-style: normal;}

        /* Content */
        .hentry footer {margin-bottom: 2em;}
        .hentry footer address {display: inline;}
        #posts-list footer address {display: block;}

        /* Blog Index */
        #posts-list {list-style: none; margin: 0;}
        #posts-list .hentry {padding-left: 10px; position: relative;}
    
        #posts-list footer {
                left: 10px;
                position: relative;
        float: left;
                top: 0.5em;
                width: 190px;
        }
    
        /* About the Author */
        #about-author {
                background: #f9f9f9;
                clear: both;
                font-style: normal;
                margin: 2em 0;
                padding: 10px 20px 15px 20px;
            
                border-radius: 5px;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
        }
    
        #about-author strong {
                color: #C64350;
                clear: both;
                display: block;
                font-size: 1.429em;
        }
    
        #about-author .photo {border: 1px solid #ddd; float: left; margin: 5px 1em 0 0;}
    
        /* Comments */
        #comments-list {list-style: none; margin: 0 1em;}
        #comments-list blockquote {
                background: #f8f8f8;
                clear: both;
                font-style: normal;
                margin: 0;
                padding: 15px 20px;
            
                border-radius: 5px;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
        }
        #comments-list footer {color: #888; padding: .5em 1em 0 0; text-align: right;}
    
        #comments-list li:nth-child(2n) blockquote {background: #F5f5f5;}
    
        /* Add a Comment */
        #add-comment label {clear: left; float: left; text-align: left; width: 150px;}
        #add-comment input[type='text'],
        #add-comment input[type='email'],
        #add-comment input[type='url'] {float: left; width: 200px;}
    
        #add-comment textarea {float: left; height: 150px; width: 495px;}
    
        #add-comment p.req {clear: both; margin: 0 .5em 1em 0; text-align: right;}
    
        #add-comment input[type='submit'] {float: right; margin: 0 .5em;}
        #add-comment * {margin-bottom: .5em;}
